.ProductGroupList {
	table {
		border: {
			collapse: collapse;
			top: 1px solid black;
			left: 1px solid black;
		}
		th, td {
			padding: 5px;
			border: {
				bottom: 1px solid black;
				right: 1px solid black;
			}
		}
	}
}