
// Все элементы кроме последнего.
$all-but-the-last: '&:not(:nth-last-child(1))';

table.Table {

	$border: 1px solid bisque;

	border: {
		collapse: collapse;
	}

	> thead {
		> tr {
			> th {
				background-color: bisque;
			}
		}
	}

	> tbody {
		> tr {
			> td {

			}
		}

	}

	> thead, > tbody {
		> tr {
			#{$all-but-the-last} {
				> th, > td {
					border: {
						bottom: $border;
					}
				}
			}
			> th, > td {
				padding: 5px;
				#{$all-but-the-last} {
					border: {
						//right: $border;
					}
				}
			}
		}

	}


	// Рамка вокруг таблицы. По умолчанию рамка включена только между строк.
	&.out-border {
		border: {
			top: $border;
			left: $border;
		}
		> thead, > tbody {
			> tr {
				> th, > td {
					border: {
						right: $border;
					}
				}
			}

		}
	}



}

