table.Table {

	border: {
		collapse: collapse;
		top: 1px solid black;
		left: 1px solid black;
	}

	> thead {
		> tr {
			> th {
				background-color: rgba(19, 205, 255, 0.21);
			}
		}
	}

	> tbody {
		> tr {
			> td {
				background-color: aliceblue;
			}
		}

	}

	> thead, > tbody {
		> tr {
			> th, > td {
				padding: 5px;
				border: {
					bottom: 1px solid black;
					right: 1px solid black;
				}
			}
		}

	}

}