@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  font-family: sans-serif; }
  html body {
    margin: 0;
    padding: 0;
    flex: 1 1 0;
    display: flex;
    /**
		 * Убрать кнопки изменения числовых данных в полях ввода (spin-стрелки).
		 * @link https://goo.gl/ZYufnM
		 */
    /**
		 * Исправление ошибки библиотеки any-resize-event.
		 * Разработчики похоже забыли убрать рамку с фреймов.
		 */ }
    html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
      font-family: sans-serif; }
    html body #root {
      flex: 1 1 0;
      display: flex; }
    html body input::-webkit-outer-spin-button,
    html body input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    html body iframe {
      border: 0; }
